AxiomCoreDF2GetInboundDataFiles/PartialArmTemplates/ArmTemplate_10_12_2020_20_8_24.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AxiomCoreDF2GetInboundDataFiles"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/CopyDataFilesFromSeagate')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Get the customer's data files from SFTP Seagate.",
				"activities": [
					{
						"name": "Get Active Arrival Collections",
						"description": "Get the active arrival collections for an specific customer.",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    Collection_ID,\n    Collection_Name,\n    Location_Identifier,\n    Location_Idenyifier_Descriptor,\n    Location_Idenyifier_Code\nFROM \n    dbo.get_customer_active_arrival_collections(@{pipeline().parameters.CustomerID})\n;\n",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SrcArrivalCollections",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Customer Arrival Collections",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Active Arrival Collections",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Active Arrival Collections').output.value",
								"type": "Expression"
							},
							"isSequential": false,
							"activities": [
								{
									"name": "Execute Movement of DataFiles Into Destination",
									"type": "ExecutePipeline",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"pipeline": {
											"referenceName": "Move DataFiles To Destination",
											"type": "PipelineReference"
										},
										"waitOnCompletion": true,
										"parameters": {
											"CollectionID": {
												"value": "@{item().Collection_ID}",
												"type": "Expression"
											},
											"CollectionLocation": {
												"value": "@{item().Location_Identifier}",
												"type": "Expression"
											},
											"DestinationLocation": {
												"value": "@pipeline().parameters.DestinationPath",
												"type": "Expression"
											}
										}
									}
								}
							]
						}
					}
				],
				"parameters": {
					"CustomerID": {
						"type": "int",
						"defaultValue": 1
					},
					"DestinationPath": {
						"type": "string",
						"defaultValue": "/Arrival"
					}
				},
				"folder": {
					"name": "Axiom Pipelines/Production"
				},
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/Stage Manifests Items')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Manifest List",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    con.base_name       AS ManifestFile,\n    con.collection_id   AS CollectionIDForManifest\nFROM \n    process.unit_detail AS unit \nINNER JOIN\n    arrival.collection AS col \n    ON unit.collection_id = col.id\nINNER JOIN\n    arrival.container AS con \n    ON col.id = con.collection_id\nWHERE\n    unit.unit_id = @{pipeline().parameters.ProcessUnitID}\n    AND con.base_name LIKE '%.manifest.csv'\n    AND col.active = 1\n    AND con.active = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SrcAzureSqlDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Manifest List",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Manifest List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Manifest List').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@pipeline().parameters.ProcessUnitCode",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "PU-WWI-REG",
												"activities": [
													{
														"name": "Load Manifest Data",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "AzureSqlSink"
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "container_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "container_name",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "container_count",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "container_count",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "SrcManifestFiles",
																"type": "DatasetReference",
																"parameters": {
																	"BlobContainer": {
																		"value": "@pipeline().parameters.BlobContainer",
																		"type": "Expression"
																	},
																	"Directory": {
																		"value": "@pipeline().parameters.Directory",
																		"type": "Expression"
																	},
																	"ManifestFile": {
																		"value": "@item().ManifestFile",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "Azure_SQL_Database_Table",
																"type": "DatasetReference",
																"parameters": {
																	"SchemaName": "stage",
																	"TableName": "manifest_item",
																	"DatabaseName": "WideWorldImporters",
																	"User": "Ernest",
																	"Password": "Nebadon@1515"
																}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					}
				],
				"parameters": {
					"ProcessUnitID": {
						"type": "int",
						"defaultValue": 1
					},
					"BlobContainer": {
						"type": "string",
						"defaultValue": "inbounddatafiles"
					},
					"Directory": {
						"type": "string",
						"defaultValue": "Arrival"
					},
					"ProcessUnitCode": {
						"type": "string",
						"defaultValue": "PU-WWI-REG"
					}
				},
				"folder": {
					"name": "Axiom Pipelines/Production"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SrcManifestFiles')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcDataFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AxiomCore_Sftp",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "Axiom Datasets/Production"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "SftpLocation"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SrcManifestFiles')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureBlobStorage_Inbound_Data",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"BlobContainer": {
						"type": "string"
					},
					"Directory": {
						"type": "string"
					},
					"ManifestFile": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Axiom Datasets/Production"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": {
							"value": "@dataset().ManifestFile",
							"type": "Expression"
						},
						"folderPath": {
							"value": "@dataset().Directory",
							"type": "Expression"
						},
						"container": {
							"value": "@dataset().BlobContainer",
							"type": "Expression"
						}
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": []
		}
	]
}