AxiomCoreDF2GetInboundDataFiles/PartialArmTemplates/ArmTemplate_10_13_2020_0_44_49.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "AxiomCoreDF2GetInboundDataFiles"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/Stage Manifests Items')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Manifest List",
						"type": "Lookup",
						"dependsOn": [
							{
								"activity": "Get Customer ID From Unit ID",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    con.base_name       AS ManifestFile,\n    con.collection_id   AS CollectionIDForManifest\nFROM \n    process.unit_detail AS unit \nINNER JOIN\n    arrival.collection AS col \n    ON unit.collection_id = col.id\nINNER JOIN\n    arrival.container AS con \n    ON col.id = con.collection_id\nWHERE\n    unit.unit_id = @{pipeline().parameters.ProcessUnitID}\n    AND con.base_name LIKE '%.manifest.csv'\n    AND col.active = 1\n    AND con.active = 1",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SrcAzureSqlDataset",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Iterate Manifest List",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Manifest List",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Manifest List').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Switch1",
									"type": "Switch",
									"dependsOn": [],
									"userProperties": [],
									"typeProperties": {
										"on": {
											"value": "@activity('Get Customer ID From Unit ID').output.firstrow.code",
											"type": "Expression"
										},
										"cases": [
											{
												"value": "PU-WWI-REG",
												"activities": [
													{
														"name": "Load Manifest Data",
														"type": "Copy",
														"dependsOn": [],
														"policy": {
															"timeout": "7.00:00:00",
															"retry": 0,
															"retryIntervalInSeconds": 30,
															"secureOutput": false,
															"secureInput": false
														},
														"userProperties": [],
														"typeProperties": {
															"source": {
																"type": "DelimitedTextSource",
																"storeSettings": {
																	"type": "AzureBlobStorageReadSettings",
																	"recursive": true
																},
																"formatSettings": {
																	"type": "DelimitedTextReadSettings"
																}
															},
															"sink": {
																"type": "AzureSqlSink"
															},
															"enableStaging": false,
															"translator": {
																"type": "TabularTranslator",
																"mappings": [
																	{
																		"source": {
																			"name": "container_name",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "container_name",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	},
																	{
																		"source": {
																			"name": "container_count",
																			"type": "String",
																			"physicalType": "String"
																		},
																		"sink": {
																			"name": "container_count",
																			"type": "String",
																			"physicalType": "varchar"
																		}
																	}
																],
																"typeConversion": true,
																"typeConversionSettings": {
																	"allowDataTruncation": true,
																	"treatBooleanAsNumber": false
																}
															}
														},
														"inputs": [
															{
																"referenceName": "SrcManifestFiles",
																"type": "DatasetReference",
																"parameters": {
																	"BlobContainer": "inbounddatafiles",
																	"Directory": {
																		"value": "@activity('Get Customer ID From Unit ID').output.firstrow.code",
																		"type": "Expression"
																	},
																	"ManifestFile": {
																		"value": "@item().ManifestFile",
																		"type": "Expression"
																	}
																}
															}
														],
														"outputs": [
															{
																"referenceName": "Azure_SQL_Database_Table",
																"type": "DatasetReference",
																"parameters": {
																	"SchemaName": "stage",
																	"TableName": "manifest_item",
																	"DatabaseName": "WideWorldImporters",
																	"User": "Ernest",
																	"Password": "Nebadon@1515"
																}
															}
														]
													}
												]
											}
										]
									}
								}
							]
						}
					},
					{
						"name": "Get Customer ID From Unit ID",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": {
									"value": "SELECT\n    customer_id,\n    code\nFROM \n    process.unit\nWHERE\n    id = @{pipeline().parameters.ProcessUnitID}",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SrcAzureSqlDataset",
								"type": "DatasetReference"
							}
						}
					}
				],
				"parameters": {
					"ProcessUnitID": {
						"type": "int",
						"defaultValue": 1
					}
				},
				"folder": {
					"name": "Axiom Pipelines/Production"
				},
				"annotations": []
			},
			"dependsOn": []
		}
	]
}