pipeline/CopyDataFilesFromSeagate.json
{
	"name": "CopyDataFilesFromSeagate",
	"properties": {
		"description": "Get the customer's data files from SFTP Seagate.",
		"activities": [
			{
				"name": "Get Active Arrival Collections",
				"description": "Get the active arrival collections for an specific customer.",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Customer ID From Unit ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    Collection_ID,\n    Collection_Name,\n    Location_Identifier,\n    Location_Idenyifier_Descriptor,\n    Location_Idenyifier_Code\nFROM \n    dbo.get_customer_active_arrival_collections(@{pipeline().parameters.CustomerID})\n;\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SrcArrivalCollections",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Customer Arrival Collections",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Active Arrival Collections",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Active Arrival Collections').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Movement of DataFiles Into Destination",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "Move DataFiles To Destination",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"CollectionID": {
										"value": "@{item().Collection_ID}",
										"type": "Expression"
									},
									"CollectionLocation": {
										"value": "@{item().Location_Identifier}",
										"type": "Expression"
									},
									"DestinationLocation": {
										"value": "@pipeline().parameters.DestinationPath",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Customer ID From Unit ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    customer_id\nFROM \n    process.unit\nWHERE\n    id = @{pipeline().parameters.ProcessUnitID}",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SrcAzureSqlDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"CustomerID": {
				"type": "int",
				"defaultValue": 1
			},
			"DestinationPath": {
				"type": "string",
				"defaultValue": "/Arrival"
			},
			"ProcessUnitID": {
				"type": "int",
				"defaultValue": 1
			}
		},
		"folder": {
			"name": "Axiom Pipelines/Production"
		},
		"annotations": []
	}
}