pipeline/Load Manifests Data.json
{
	"name": "Load Manifests Data",
	"properties": {
		"activities": [
			{
				"name": "Get Manifest List",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Get Customer ID from Unit ID",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "\n\nSELECT\n    ContainerID,\n    ManifestName\n FROM\n    dbo.get_customer_manifests( @{activity('Get Customer ID from Unit ID').output.value} )",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SrcAzureSqlDataset",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Iterate Manifest List",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Manifest List",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Manifest List').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Load Manifest Data",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobStorageReadSettings",
										"recursive": true
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "SrcManifestFiles",
									"type": "DatasetReference",
									"parameters": {
										"BlobContainer": {
											"value": "@pipeline().parameters.BlobContainer",
											"type": "Expression"
										},
										"Directory": {
											"value": "@pipeline().parameters.Directory",
											"type": "Expression"
										},
										"ManifestFile": {
											"value": "@item().ManifestName",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "dataflow1",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "dataflow1",
									"type": "DataFlowReference"
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								}
							}
						}
					]
				}
			},
			{
				"name": "Get Customer ID from Unit ID",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [
					{
						"name": "test"
					}
				],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": {
							"value": "SELECT\n    customer_id\nFROM \n   process.unit\nWHERE\n    id = @{pipeline().parameters.ProcessUnitID}\n    AND active = 1\n;\n\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SrcAzureSqlDataset",
						"type": "DatasetReference"
					}
				}
			}
		],
		"parameters": {
			"ProcessUnitID": {
				"type": "int",
				"defaultValue": 1
			},
			"BlobContainer": {
				"type": "string"
			},
			"Directory": {
				"type": "string"
			}
		},
		"variables": {
			"customer_id": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Axiom Pipelines/Production"
		},
		"annotations": []
	}
}